@model Groomers.Models.SearchDatePV

<style>

    #colOne {
        border: 1px red solid;
        width: 20em;
        text-align: right;
        padding-left: 4em;
    }

    .table {
        border-top: 0px !important;
    }

        .table th, .table td {
            border: 1px !important;
        }

    .fixed-table-container {
        border: 0px !important;
    }

    #serachTable {
        border-bottom: 3px solid #8FC1E3;
    }

    #searchDate {
        width: 1em;
       
    }
</style>

<div class="tableDiv">
    <table class="table" id="serachTable">
        @using (Html.BeginForm("SelectAppointmentDate", "Appointment", FormMethod.Post))
        {
            <thead>
                <tr>
                    <th scope="col" id="searchDate">  @Html.LabelFor(model => model.SearchDate, htmlAttributes: new { @class = "control-label col-lg-8" })</th>
                    <th scope="col">
                        @Html.EditorFor(model => model.SearchDate, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SearchDate, "", new { @class = "text-danger" })
                    </th>
                    <th scope="col">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>
                    </th>

                </tr>
            </thead>
        }
    </table>
</div>

