@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Groomers Inc.</h1>
    <p class="lead">Indiana's premiere dog spa.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customer Register</h2>
        <p>
            If you are new to our online scheduler. Please register to gain access!
        </p>
        <p><a class="btn btn-default" href= @Url.Action("Register","Account")>Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customer Login</h2>
        <p>If you already are one of our lovely customers log in here. It's great to have you back!</p>
        <p><a class="btn btn-default" href=@Url.Action("UserIndex","Users")>Log in &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employee/Admin Login</h2>
        <p>Restricted to staff members only</p>
        <p><a class="btn btn-default" href=@Url.Action("AdminIndex","Admin")>Log in &raquo;</a></p>
    </div>
</div>