
@{
    ViewBag.Title = "AuthorizeFailed";
}

<style>

    #mainPic {
        max-width: 80%;
        height: auto;
    }
</style>

<h2>Authorization Failed!</h2>

<img src="~/Content/Images/you-shall-not-pass.png" class="img-fluid" id="mainPic" alt="Groomers Inc">

